# Ignore node_modules directory
exp/datasets/
papers_of_interest/
exp/image_samples
*/__pycache__/
*.png
*.csv
*.jpg
*.bin
*.zip
*.xml
*.ckpt
*.pt
model_dlib/
*.txt
custom_run.py
*.pdf
*.log
*.svg
evaluation*.sh
.vscode/